

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 20% 1fr 26%; /* Ajusta los tamaños según necesites */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #1F1B24;
  justify-items: center;
  align-items: center;
  gap: 45px;
  box-sizing: border-box; /* Incluye el padding en el tamaño total */
}

.SideBarL, .SideBarR {
  position: sticky;
  top: 0;
  align-self: start;
  height: 100vh; /* Asegura que las barras laterales ocupen toda la altura de la pantalla */
}

.Feed {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Permite el scroll vertical en la sección central */
  height: 100vh; /* Asegura que la sección central ocupe toda la altura de la pantalla */
  box-sizing: border-box; /* Incluye el borde en el ancho total */
  padding-top: 50px; /* Añade un padding para separar los elementos del borde de la pantalla */

}

.Feed::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit */
}

.Feed {
  -ms-overflow-style: none;  /* Oculta la barra de desplazamiento en Internet Explorer y Edge */
  scrollbar-width: none;  /* Oculta la barra de desplazamiento en Firefox */
}


